<body>

<h1>Caffinitas - Java object mapper for Apache Cassandra.</h1>

Start with the {@link org.caffinitas.core} package if you are new to Caffinitas.

<h2>Links</h2>

<table>
  <tr>
    <td>Website</td>
    <td><a href="http://caffinitas.org/" target="_new">http://caffinitas.org/</a></td>
  </tr>
  <tr>
    <td>SCM</td>
    <td><a href="https://bitbucket.org/snazy/caffinitas" target="_new">https://bitbucket.org/snazy/caffinitas</a></td>
  </tr>
  <tr>
    <td>Issues</td>
    <td><a href="https://bitbucket.org/snazy/caffinitas/issues/?status=new&status=open" target="_new">https://bitbucket.org/snazy/caffinitas/issues/</a></td>
  </tr>
  <tr>
    <td>Mailing List</td>
    <td><a href="https://groups.google.com/d/forum/caffinitas-mapper" target="_new">https://groups.google.com/d/forum/caffinitas-mapper</a></td>
  </tr>
  <tr>
    <td>API Docs</td>
    <td><a href="http://caffinitas.org/mapper/apidocs/" target="_new">http://caffinitas.org/mapper/apidocs/</a></td>
  </tr>
</table>

<h2>License</h2>

<pre><code>
    Copyright 2014 Robert Stupp, Koeln, Germany, robert-stupp.de

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
</code></pre>

</body>
