#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks, #leftColumn, #navColumn {
    display: none !important;
}
#bodyColumn, body.docs div.docs {
    margin: 0 !important;
    border: none !important
}
body {
    background-color: transparent;
}
pre {
    border: 2px dashed burlywood;
    background-color: transparent;
}

#printtitle {
    display: block;
    font-size: 15pt;
}
